<%= turbo_frame_tag question do %>
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm m-5">
    <%= link_to question.label,
                question_path(question),
                data: { turbo_frame: "_top" } %>
    <div class="flex">
      <%= link_to "Edit",
                  edit_question_path(question),
                  class: "btn-main mr-4" %>
      <%= button_to "Delete",
                    question_path(question),
                    method: :delete,
                    class: "btn-danger" %>
    </div>
  </div>
<% end %>