<div class="mt-4">
  <h1 class="mb-4 text-4xl font-black">Add Questions</h1>
</div>

  <div class="m-4">
    <%= link_to "New question",
                new_question_path,
                class: "btn-main",
                data: { turbo_frame: dom_id(Question.new) } %>
  </div>

  <%= turbo_frame_tag Question.new %>

  <%= turbo_frame_tag "questions" do %>
    <div class="grid grid-cols-3">
      <%= render @questions %>
    </div>
  <% end %>