    <%= link_to sanitize("&larr; Back to quotes"), assessments_path %>

  <div class="header">
    <h1>New quote</h1>
  </div>
  <%= turbo_frame_tag @question do %>
    <%= render "form", question: @question %>
  <% end %>
