<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-center">
          <thead class="border-b bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-4">
                
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                Label
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                Description
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                Question Type
              </th>
            </tr>
          </thead class="border-b">
          <tbody>
            <%= render partial: "question_row", locals: { questions: @questions } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>