<div class="mt-4">
  <h1 class="mb-4 text-4xl font-black">Your Dashboard</h1>
</div>

<div class="flex justify-center">
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm m-5">
    <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Assessments</h5>
    <p class="text-gray-700 text-base mb-4">
      See all assessments
    </p>
    <%= link_to "Go", assessments_path, class: "btn-main" %>
  </div>
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm m-5">
    <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Questions</h5>
    <p class="text-gray-700 text-base mb-4">
      See all questions
    </p>
    <%= link_to "Go", questions_path, class: "btn-main" %>
  </div>
</div>