<div class="isolate bg-white">
  <div class="px-6 pt-6 lg:px-8">
    <div>
      <nav class="flex h-9 items-center justify-between" aria-label="Global">
        <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12">
          <a href="#" class="font-semibold text-gray-900 hover:text-gray-900">About</a>
          <%= link_to "Assessments", assessments_path, class: "font-semibold text-gray-900 hover:text-gray-900" %>
      </nav>
    </div>
  </div>
  <main>
    <div class="relative px-6 lg:px-8">
      <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
        <div>
          <div>
            <h1 class="text-4xl font-bold tracking-tight sm:text-center sm:text-6xl">Welcome to Quiz Me</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">Choose from carefully thought interview questions or make your own</p>
            <div class="mt-8 flex gap-x-4 sm:justify-center">
              <%= link_to "Log in", new_user_session_path, class: "btn-main" %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn-secondary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
