<nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-200 hover:text-gray-700 focus:text-gray-700 shadow-lg">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <div class="container-fluid">
          <%= link_to "RubyView",
                root_path,
                class: "text-xl text-white font-semibold" %>
    </div>
    <div class="container-fluid">
      <% if user_signed_in? %>
          <%= button_to "Sign out",
                    destroy_user_session_path,
                    method: :delete,
                    class: "btn-main" %>
      <% end %>
    </div>
  </div>
</nav>